/**
 * \file gui.rc
 * \brief Files to realize one-file compile.
 */

/// Field texture files
FE 		RCDATA 	"gui/empty.png"
F1 		RCDATA 	"gui/field_1.png"
F2 		RCDATA 	"gui/field_2.png"
F3 		RCDATA 	"gui/field_3.png"
F4 		RCDATA 	"gui/field_4.png"
F5 		RCDATA 	"gui/field_5.png"
F6 		RCDATA 	"gui/field_6.png"
F7 		RCDATA 	"gui/field_7.png"
F8 		RCDATA 	"gui/field_8.png"
FF 		RCDATA 	"gui/flag.png"
FM 		RCDATA 	"gui/mine.png"
FC		RCDATA 	"gui/covered.png"

/// Top bar gui images
BFLAG	RCDATA	"gui/butt-flag.png"
BCLICK	RCDATA	"gui/butt-click.png"
MINEC 	RCDATA	"gui/score-bg.png"
STOPW 	RCDATA	"gui/stopwatch-bg.png"
STARTI 	RCDATA	"gui/start.png"

/// Font
CONSOLA	RCDATA 	"gui/consola.ttf"